body {
	background-image: url("../images/basketball-header.png");
}

.jumbotron {
	color: white;
	background-image: url("../images/wood-floor-tile.jpg");
	background-size: 100%;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.jumbotron h1 {
	font-size: 80px;
}
